{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "src/tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],
    "max-len": "off",
    "consistent-return": "off",
    "@typescript-eslint/no-throw-literal": "off"
  }
}
